body {
    padding: 40px;
    font-family: Arial, sans-serif;
    background-color: #faf8f5;
    color: #333333;
}
h1, h2 {
    color: #d93838;
}
ul, ol {
    color: #555555;
    font-size: 1.1rem;
    line-height: 1.6;
}
